/* Index
  1. Display Layout
  2. Navigation Bar
  3. Body
      3.1 Chart Wrappers
      3.2 Donation State Select Menu
      3.3 Number Displays
      3.4 Pie Charts
      3.5 Row Charts
      3.5 Tooltips
  4. Footer */

/* 1. DISPLAY LAYOUT */

.flex-outer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-vertical {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
}

/* 2. NAVIGATION BAR */

.navbar-inverse {
    background-color: #62B2B5;
    border-color: #62B2B5;
}

.navbar-inverse .navbar-brand {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    font-size: 35px;
}

.navbar .navbar-header .navbar-brand {
    padding-top: 5px;
}

.navbar .start-button {
    text-align: center;
}

.navbar .start-button button {
    margin-top: 6px;
    padding: 5px 10px;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 12px;
    color: #62B2B5;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    -webkit-transition: 0.5s 0.5s;
}

.navbar:hover .start-button button {
    animation: expand 1s linear 2s;
    padding: 8px 12px;
    font-size: 18px;
    margin-bottom: 3px;
}

.navbar-header img {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

/* DISPLAY LAYOUT */

/* 3. BODY */

/* 3.1 CHART WRAPPERS */

#outer .chart-wrapper {
    border-radius: 30px;
}

svg {
    background-color: #eff7f3;
    border-radius: 20px;
}

#outer .chart-title {
    background-color: #62b58f;
    font-family: "Fira Sans Condensed", Helvetica, Arial, sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #ffffff;
    font-size: 20px;
}

/* CHART WRAPPERS */

/* 3.2 DONATION STATE SELECT MENU */

div#menu-select.dc-chart {
    width: 200px;
    display: inline-block;
}

#usa-img {
    opacity: .9;
    margin-right: 10px;
    margin-bottom: 3px;
}

.dc-select-menu {
    background: #62b58f;
    width: 200px;
    border: none;
    height: 60px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* DONATION STATE SELECT MENU */

/* 3.3 NUMBER DISPLAYS */

div.dc-chart {
    float: none;
}

.num-display {
    background: #33CC99;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* NUMBER DISPLAYS */

/* 3.4 PIE CHARTS */
.dc-chart .pie-slice {
    fill: black;
    font-family: "Fira Sans Condensed", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

img#pie-img {
    position: absolute;
    top: 160px;
    right: 420px;
}

img#fund-img {
    position: absolute;
    top: 130px;
    right: 340px;
}

/* PIE CHARTS */

/* 3.5 ROW CHARTS */
.dc-chart g.row text {
    fill: black;
    font-family: "Fira Sans Condensed", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

.slim {
    float: right;
}

.resource-type {
    position: relative;
    left: 20px;
}

/* PIE CHARTS */

/* 3.5 TOOLTIPS */

div.introjs-helperLayer {
    background-color: rgba(255, 255, 255, .4) !important;
}

/* TOOLTIPS */

/* 4. FOOTER */

.footer {
    height: 120px;
    background-color: #62B2B5;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    color: #ffffff;
}

.footer #megan {
    margin-top: 40px;
    /*text-align: right;*/
    text-align: center;
    font-size: 16px;
    color: #4e8e90;
}

.footer .logos {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.footer #donorschoose-btn {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ffffff;
    text-decoration: none;
    color: #62B2B5;
}

/* FOOTER */