/* Index
    1. Navigation Bar Media Queries
    2. Body Media Queries
    3. Footer Media Queries */



/* 1. NAVIGATION BAR MEDIA QUERIES */

@media (max-width: 330px) {
    .navbar-inverse .navbar-brand {
        font-size: 4vw;
    }

    #outer {
        margin-top: 100px;
    }
}

@media (min-width: 331px) and (max-width: 550px) {
    .navbar-inverse .navbar-brand {
        font-size: 5vw;
    }

    #outer {
        margin-top: 100px;
    }
}

@media (min-width: 551px) and (max-width: 770px) {
    #outer {
        margin-top: 100px;
    }
}

/* NAVIGATION BAR MEDIA QUERIES */

/* 2. BODY MEDIA QUERIES */

@media (max-width: 1280px) {

    /* Remove elements on smaller devices */
    .time-chart-div {
        display: none;
    }

    .primary-focus-subject-div {
        display: none;
    }

    #usa-img {
        display: none;
    }

    img#fund-img {
        display: none;
    }

    img#pie-img {
        display: none;
    }

    /* Element style changes on smaller devices */
    svg {
        margin: auto;
        width: 100%;
    }

    .select-stage {
        text-align: center;
    }

    .dc-select-menu {
        width: 100%;
    }

    .pie-div {
        display: block;
        width: 95vw;
        margin: auto;
    }

    .chart-div {
        display: block;
        width: 95vw;
        margin: auto;
    }

    .slim {
        float: none;
    }

}

@media (min-width: 768px) and (max-width: 1280px) {

    .dc-select-menu {
        width: 15vw;
        margin-bottom: 40px;
    }

    /* Remove chart divs as they will not align at this size */
    .chart-div {
        display: none;
    }

    /* Remove intro button as tour can not be completed at this size */
    .intro-button {
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 876px) {

    .dc-select-menu {
        margin-left: -50px;
    }
}

/* BODY MEDIA QUERIES */

/* 3. FOOTER MEDIA QUERIES */

@media (max-width: 985px) {
    .footer {
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .footer {
        height: 150px;
    }
}

/* FOOTER MEDIA QUERIES */