/* 1. NAVIGATION BAR MEDIA QUERIES */

@media (max-width: 330px) {
    .navbar-inverse .navbar-brand {
        font-size: 4vw;
    }

    #outer {
        margin-top: 100px;
    }
}

@media (min-width: 331px) and (max-width: 550px) {
    .navbar-inverse .navbar-brand {
        font-size: 5vw;
    }

    #outer {
        margin-top: 100px;
    }
}

@media (min-width: 551px) and (max-width: 770px) {
    #outer {
        margin-top: 100px;
    }
}
/* NAVIGATION BAR MEDIA QUERIES */

/* 2. TIME CHART MEDIA QUERIES */

@media (max-width: 1280px) {
    #time-chart svg {
        width: 100%;
    }
}

/* TIME CHART MEDIA QUERIES */