<!DOCTYPE html>
<html>
<head>
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/mediaqueries.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Oswald|Roboto|Slabo+27px" rel="stylesheet">

</head>

<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header col-sm-10">
            <a class="navbar-brand" href="./">
                <img src={{ url_for('static', filename='css/media/icons/mortarboard.png') }} title="MortarBoard"
                     border="0">
                School Donations Dashboard
            </a>
        </div>

        <div class="start-button col-sm-2">
            <ul class="nav navbar-nav">
                <li>
                    <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start
                        Tour
                    </button>
                </li>
            </ul>
        </div>

    </div>
</div>

<!-- Insert base.html -->

{% block base %}

{% endblock %}

<!-- Insert base.html -->

<hr>

<!-- Footer -->
<footer>
    <div class="footer">
        <div class="container narrow row-fluid">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4" data-step="6"
                 data-intro="Visit DonorsChoose.org to check out projects running right now!" style="font-weight:normal"
                 data-position="top">
                <h2>Visit DonorsChoose.org</h2>
                <div class="logos">
                    <h6><a id="donorschoose-btn" href="https://www.donorschoose.org/donors/search.html">Donate Now</a>
                    </h6>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div id="megan" class="col-sm-3">
                <h5>Created by Megan Emily Duffy</h5>
                <div class="logos">
                    <a href="https://github.com/meganduffy">
                        <img src={{ url_for('static', filename='css/media/icons/github-logo.png') }} title="Github"
                             border="0">
                    </a>
                    <a href="https://www.linkedin.com/in/meganemilyduffy/">
                        <img src={{ url_for('static', filename='css/media/icons/linkedin-sign.png') }} title="LinkedIn"
                             border="0">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->


<script src="{{ url_for ('static', filename='lib/js/intro.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js') }}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static', filename='js/graph.js') }}"></script>
</body>
</html>

