<!DOCTYPE html>
<html>
<head>
   <title>School Donations Dashboard</title>
   <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/bootstrap.min.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static',
         filename='lib/css/keen-dashboards.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
   <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Oswald|Roboto|Slabo+27px" rel="stylesheet">

 </head>

 <body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header col-sm-10">
            <a class="navbar-brand" href="./">
                <img src={{ url_for('static', filename='css/media/icons/mortarboard.png') }} title="MortarBoard" border="0">
                School Donations Dashboard
            </a>
        </div>

        <div class="start-button col-sm-2">
            <ul class="nav navbar-nav">
                <li><button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Start Tour</button></li>
            </ul>
        </div>

	</div>
</div>



<div id="outer" class="container-fluid">

    <div class="row">

        <!-- Menu Select -->
        <div class="col-sm-3" >
            <div class="chart-wrapper" data-step="1" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Donation State
                </div>
                <div class="chart-stage">
                    <img id="usa-img" src={{ url_for('static', filename='css/media/icons/united-states-of-america.png') }} title="USA" border="0">
                    <div id="menu-select"></div>
                </div>
            </div>
        </div>
        <!-- Menu Select -->

        <!-- Metric 3 -->
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title" id="no-border">
                    Total Number of School Districts
                </div>
                <div class="chart-stage num-display">
                    <div id="total-school-district-nd"></div>
                </div>
            </div>
        </div>
        <!-- Metric 3 -->

        <!-- Metric 1 -->
		<div class="col-sm-3">
			<div class="chart-wrapper">
				<div class="chart-title" id="no-border">
					Total Number of Donations
				</div>
				<div class="chart-stage num-display">
                    <div id="number-projects-nd"></div>
                   </div>
			</div>
		</div>
		<!-- Metric 1 -->

        <!-- Metric 2 -->
		<div class="col-sm-3">
			<div class="chart-wrapper">
				<div class="chart-title" id="no-border">
					Total Donations in USD
				</div>
				<div class="chart-stage num-display">
                    <div id="total-donations-nd"></div>
				</div>
			</div>
		</div>
		<!-- Metric 2 -->

    </div>

    <div class="row">

        <!-- Time Chart -->
        <div class="col-sm-8">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Number of Donations
                </div>
                <div class="chart-stage">
                    <div id="time-chart"></div>
                </div>
            </div>
        </div>
        <!-- Time Chart -->

        <!-- funding Pie -->
        <div class="col-sm-4">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Funding Status
                </div>
                <div class="chart-stage">
                    <img id="fund-img" src={{ url_for('static', filename='css/media/icons/diploma.png') }} title="Diploma" border="0">
                    <div id="funding-pie-chart" class="pie-style"></div>
                </div>
            </div>
        </div>
        <!-- funding Pie -->

    </div>

    <div class="flex-outer row">

        <!-- Flexbox Container for Vertical Display -->
        <div class="flex-vertical col-sm-5">

            <!-- Grade Level -->
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Grade Level
                    </div>
                    <div class="chart-stage">
                        <img id="pie-img" src={{ url_for('static', filename='css/media/icons/books.png') }} title="Books" border="0">
                        <div id="grade-level-pie-chart" class="pie-style"></div>
                    </div>
                </div>
            </div>
            <!-- Grade Level -->

            <!-- Poverty -->
		    <div class="col-sm-12">
			    <div class="chart-wrapper">
				    <div class="chart-title">
					    Poverty Level
				    </div>
				    <div class="chart-stage">
                        <img id="pie-img" src={{ url_for('static', filename='css/media/icons/apple.png') }} title="Apple" border="0">
					    <div id="poverty-level-pie-chart" class="pie-style"></div>
				    </div>
			    </div>
		    </div>
		    <!-- Poverty -->

            <!-- School Metro -->
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        School Area
                    </div>
                    <div class="chart-stage">
                        <img id="pie-img" src={{ url_for('static', filename='css/media/icons/book.png') }} title="Book" border="0">
                        <div id="school-metro-pie-chart" class="pie-style"></div>
                    </div>
                </div>
            </div>
            <!-- School Metro -->



        </div>
        <!-- Flexbox Container for Vertical Display -->

        <div class="flex-vertical col-sm-7">

            <!-- Primary Focus Subject -->
            <div class="col-sm-12">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Primary Focus Subject
                    </div>
                    <div class="chart-stage">
                        <div id="primary-focus-subject-row-chart"></div>
                    </div>
                </div>
            </div>
            <!-- Primary Focus Subject -->

            <div class="row">

                <!-- Resources -->
		        <div class="col-sm-6 resource-type">
			        <div class="chart-wrapper slim">
				        <div class="chart-title">
					        Resource Type
				        </div>
				        <div class="chart-stage">
					        <div id="resource-type-row-chart"></div>
				        </div>
			        </div>
		        </div>
		        <!-- Resources -->

                <!-- Primary Focus Area -->
		        <div class="col-sm-6">
			        <div class="chart-wrapper slim">
				        <div class="chart-title">
					        Primary Focus Area
				        </div>
				        <div class="chart-stage">
					        <div id="primary-focus-area-row-chart"></div>
				        </div>
			        </div>
		        </div>
		        <!-- Primary Focus Area -->

            </div>

        </div>



        </div>

    </div>

</div>



<hr>
<script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html>

